@model efAkquisition.tbl_Anbieter

@{
    ViewBag.Title = "Delete";
}

<h3>Wollen Sie diesen Anbieter wirklich löschen?</h3>
<hr/>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Kürzel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kürzel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kontaktperson)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kontaktperson)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnbieterAF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnbieterAF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_Bearbeiter.Bearbeiter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_Bearbeiter.Bearbeiter)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <dl class="dl-horizontal">
            <dt />

            <dd>
                <input type="submit" value="Löschen" class="btn btn-primary" />
            </dd>
        </dl>

        <div class="form-group">
            @Html.ActionLink("Zum Index", "Index")
        </div>
    }
</div>
