@model List<Akquisition.MyStuff.PreFirma>

@{
    ViewBag.Title = "Produktionsfirmen hinzufügen: " + ViewBag.Projekt;
}

<h3>@Html.Raw(ViewBag.Projekt)</h3>
<h3>Produktionsfirmen hinzufügen</h3>

@using (Html.BeginForm("Add", "ProjektFirmaRel", FormMethod.Post))
{
    <div class="form-group">
        <table>
            @for (int i = 0; i < this.Model.Count; i++)
            {
                <tr>
                    <td>@Html.TextBoxFor(model => model[i].Name, new { @readonly = true })</td>
                   <td>@Html.DropDownListFor(model => model[i].FirmaNr, new SelectList(ViewBag.Auswahl[i], "FirmaNr", "Firma"), new { style = "width: 250px;" })</td>
                    <td>@Html.TextBoxFor(model => model[i].Prio, new { @class = "smallEditor" })</td>
                    <td>@Html.CheckBoxFor(model => model[i].CreatePerson)</td>
                    <td>@Html.HiddenFor(model => model[i].EntryNo)</td>
                </tr>
            }

        </table>
    </div>

    
    <div class="form-group">
        <input type="submit" value="Speichern" class="btn btn-primary"/>
    </div>
}

